@model NidTid.Domain.Entities.Project

<div id="projectDetails">
    
            <form id="projectForm" action="" method="post" >
                <div id="prjFormTable">
                    <table>
                        <tr>
                            <td class="clabel">
                                @Html.LabelFor(model => model.Name)
                            </td>
                            <td>
                                <input type="text" class="onOff" name="Name" value="@Model.Name" />
                            </td>
                        </tr>
                        <tr>
                            <td class="clabel">
                                @Html.LabelFor(model => model.Referens)
                            </td>
                            <td>
                                <input type="text" class="onOff" name="Referens" value="@Model.Referens" />
                            </td>
                        </tr>
                        <tr>
                            <td class="clabel">
                                @Html.LabelFor(model => model.FastBtn)
                            </td>
                            <td>
                                <input type="text" class="onOff" name="FastBtn" value="@Model.FastBtn" />
                            </td>
                        </tr>
                        <tr>
                            <td class="clabel">
                                @Html.LabelFor(model => model.KontoStr)
                            </td>
                            <td>
                                <input type="text" class="onOff" name="KontoStr" value="@Model.KontoStr" />
                            </td>
                        </tr>
                        <tr>
                            <td class="clabel">
                                @Html.LabelFor(model => model.Active)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Active)
                            </td>
                        </tr>
                    </table>

                   
                    <div id="prjSaveBtn">
                        <input type="button" id="saveProject" value="Spara ändringar" />
                    </div>

                   
                </div>
                <div id="prjDescription">
                    <fieldset>
                        <legend align="right">Arbetsbeskrivning</legend>
                            @Html.EditorFor(model => model.Description)
                    </fieldset>
                </div>
                @Html.EditorFor(model => model.CustomerId)
                @Html.EditorFor(model => model.Id)
                @Html.EditorFor(model => model.UserId)

                
            </form>

</div>
