@model NidTid.WebUI.Models.ProjectViewModel

<div class="row-fluid">
    @if (Model.Project.Name != null) { 
        <div class="span3">
            <fieldset>
                <legend>@Model.Project.Customer.Name - @Model.Project.Name</legend>
                <div class="row-fluid">
                    @Html.EditorFor(model => Model.Project.Id)
                    Projektansvarig: @Model.Project.User.Name <br />
                    Kundens referens: @Model.Project.Referens <br />
                    Fastighetsbtn: @Model.Project.FastBtn <br />
                    Kontosträng: @Model.Project.KontoStr <br />
                    <br />
                </div>
                <div class="row-fluid">
                    @Html.EditorFor(model => model.Project.Active) Aktivt
                    <br />
                    <p>(Projektet måste vara aktivt för att kunna rapportera tid)</p>
                </div>
                <div class="row-fluid">
                    <a class="btn btn-locked btn-info" id="btnEditProject"><i class="icon-edit icon-white"></i>Redigera projekt</a>
                </div>
            </fieldset>
        </div>
        <div class="span9">
            <div class="row-fluid">
                <div class="well span12">
                    <div class="row-fluid">
                        <div class="span8">
                            <h4>Arbetsbeskrivning</h4>
                            <p>
                                @Model.Project.Description
                            </p>
                        </div>
                        <div class="span4">
                            <h4>Total tid: @Model.TotalHours h</h4>
                            <p>
                                Debiterbart: @Model.DebHours
                                Ej debiterbart:@Model.EjDebHours
                            </p>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <fieldset>
                    <legend>Senaste tidrapporter för projektet
                        <select class="pull-right input-mini" id="nrOfReportsDropDown">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </legend>
                    <div id="reportList">
                    </div>
                </fieldset>
            </div>
        </div>
    }

</div>



            