@model IEnumerable<NidTid.Domain.Entities.Report>

            <table class="table table-striped" style="border-collapse:collapse;">
                <thead>
                     <tr>
                    <th>
                        Datum
                    </th>
                    <th>
                        Kund
                    </th>
                    <th>
                        Projekt
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Deb)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EjDeb)
                    </th>
                    <th>
                        Körsträcka
                    </th>
                    <th>
                        Användare
                    </th>

                    <th></th>
                </tr>
                </thead>
                <tbody>
               

            @foreach (var item in Model) {
                <tr data-toggle="collapse" data-target="#@item.Id" class="accordion-toggle">
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.Customer.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Deb)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EjDeb)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Km)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Name)
                    </td>

                    <td>
                        <a id="editReport" class="btn btn-info btn-mini" data-toggle="modal" data-id="@item.Id"><i class="icon-edit icon-white"></i>Ändra</a> |
                        <a id="deleteReport" class="btn btn-danger btn-mini"><i class="icon-trash icon-white"></i>Ta bort</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="8" class="hiddenRow">
                        <div class="accordion-body collapse" id="@item.Id">
                        <table>
                            <tr>

                            </tr>
                            <tr>
                                <td>
                                    <i class="icon-pencil"></i>
                                </td>
                                <td colspan="8">
                                    @item.Notes
                                </td>
                            </tr>
                        </table>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
            </table>

<div id="editReportModal" class="modal hide fade">  
    <div class="modal-header">  
        <a class="close" data-dismiss="modal">×</a>  
        <h3>Redigera rapport</h3>  
    </div>
    <div id="reportModal">

    </div> 
</div>