@model NidTid.WebUI.Models.ReportViewModel

@{
    ViewBag.Title = "Timrapport";
    var identity = ((NidTid.WebUI.Security.CustomPrincipal)HttpContext.Current.User).CustomIdentity;
}

<div class="container">
    
    <div class="row top-row">
        <div class="span4">
            <form class="well" id="reportForm" action="" method="post">  
                <fieldset>  
                    <legend>Registrera ny timrapport</legend> 
                        <select id="customerDropDown" name="customerDropDown">
                            <option value="null">-- Välj Kund --</option>
                                @foreach (var c in Model.Customers) { 
                                    <option value=@c.Id>@c.Name</option>
                                }
                        </select>
                         <select id="projectDropDown" name="Report.ProjectId">
                            <option value="null">-- Välj Projekt --</option>
                        </select>
                        <div class="control-group">  
                            <label class="control-label" for="Report.Date">Datum</label>  
                            <div class="controls">  
                                <input type="text" class="datepicker input-small" name="Report.Date" value="@System.DateTime.Now.ToShortDateString()" /> 
                            </div>  
                        </div>
                        <div class="control-group">  
                            <label>Arbetad tid (debiterbar och icke debiterbar)</label>  
                            <input type="text" class="smallField" name="Report.Deb" placeholder="Deb" /> 
                            <input type="text" class="smallField" name="Report.EjDeb" placeholder="EjDeb" />
                        </div>
                        <div class="control-group">  
                            <label class="control-label" for="Report.Km">Körsträcka</label>  
                            <div class="controls">  
                                <input type="text" class="smallField" name="Report.Km" value="@Model.Report.Km" /> 
                            </div>  
                        </div>
                        <div class="control-group">  
                            <label class="control-label" for="Report.Notes">Notering</label>  
                            <div class="controls">  
                                <textarea class="input-xlarge" name="Report.Notes" id="textarea" rows="3"></textarea> 
                            </div>  
                        </div>
                        <input type="button" class="btn btn-success" id="saveReport" value="Spara rapport"/> 
                        
                        <input type="hidden" id="UserId" name="Report.UserId" value="@identity.UserId" />
                        @Html.EditorFor(model => model.Report.BillId)
                        @Html.EditorFor(model => model.Report.Id)
                        @Html.EditorFor(model => model.Report.SalaryId)
        
                    
                </fieldset>
            </form>
        </div>
        <div class="span8">
            <fieldset>
                <legend>Dina senaste timrapporter</legend>
                <p class="help-block text-right"> Klicka på en rapport för att se notering. </p>
                <div id="reportList">
                    @{
                        Html.RenderAction("List", "Report", new{UserId=identity.UserId, Limit=8 });
                    }
                </div>
            </fieldset>
        </div>
    </div>


    
        
</div>


